<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
    <link rel="stylesheet" href="../public/style.css" />
    <title>سیستم حضور و غیاب</title>
  </head>
  <body>
    <h1 id="employeeName" class="dashboard-title"></h1>
    <div class="employee-btn">
      <button type="button" id="checkInCheckOutButton"></button>
      <button type="button" id="absentButton"></button>
    </div>
    <div id="message">عملیات با موفقیت انجام شد.</div>
    <script src="../public/js/dashboard.js"></script>
  </body>
</html>
