<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
    <link rel="stylesheet" href="../public/style.css" />
    <title>سیستم حضور و غیاب</title>
  </head>
  <body>
    <h1 id="employeeName" class="dashboard-title"></h1>
    <div class="employee-btn">
      <form id="employeeForm">
        <button type="submit" id="button">ورود</button>
      </form>
    </div>
    <div id="message">عملیات با موفقیت انجام شد.</div>
    <script src="../public/js/dashboard.js"></script>
  </body>
</html>
