<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
    <link rel="stylesheet" href="../public/style.css" />
    <title>سیستم حضور و غیاب</title>
  </head>
  <body>
    <div class="login">
      <h1>ورود به سیستم</h1>
      <form id="form">
        <div>
          <label for="username">نام کاربری</label>
          <input type="text" id="username" />
        </div>
        <div>
          <label for="password">رمزعبور</label>
          <input type="password" id="password" />
        </div>
        <div id="error">error</div>
        <button type="submit" id="submitButton">ورود</button>
      </form>
    </div>
    <script src="../public/js/login.js"></script>
  </body>
</html>
